div {
  font-family: monaco,Consolas,Lucida Console,monospace; 
}

.terminal-container {
    height: 35rem;
    width: 100%;
}
.title-container {
    margin-top: 3rem;
}
.title-description {
    margin: 2rem 0rem;
}
.blinking-cursor{
    background-color: #747fe0;
    display: inline-block;
    animation: blink 1s step-end infinite;
    width: 2rem;
    height: 5rem;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}