h3 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.project-card-container a {
     margin-right: 20px;
          margin-top: 20px;
          white-space: nowrap;
          display: inline-block;
          line-height: 40px;
          padding: 0 14px;
          box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
            0 1px 3px rgba(0, 0, 0, 0.08);
          border-radius: 4px;
          letter-spacing: 0.025em;
          text-decoration: none;
          transition: all 0.15s ease;
          font-size: 0.9em;
          font-weight: 600;
          box-sizing: border-box;
          background: #747fe0;
          color: #fff;

}

.project-card-container a :hover{
     background:#7795f8;
            transform: translateY(-1px);
            box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1),
              0 3px 6px rgba(0, 0, 0, 0.08);

          
}

.projects-container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.projects-container h1 {
    font-size: 3rem;
    text-decoration: underline;
    margin-bottom: 1rem;
}

.project-card-container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0.2rem;
    box-shadow: 0 50px 100px rgba(50,50,93,.05),0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.1);
  overflow-x: scroll;
  padding: 10px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;

}

.project-card-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.project-card-image {
    float: inline-start;
    overflow: hidden;
    max-height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-skills {
    display: flex;
    margin-top: 2rem;
    
}

.project-skill {
border-radius: 4px;
  border: 2px solid #92eac0;
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: .85em;
  color: #525f7f;
}

.project-link {
          margin-right: 20px;
          margin-top: 20px;
          white-space: nowrap;
          display: inline-block;
          line-height: 40px;
          padding: 0 14px;
          box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
            0 1px 3px rgba(0, 0, 0, 0.08);
          border-radius: 4px;
          letter-spacing: 0.025em;
          text-decoration: none;
          transition: all 0.15s ease;
          font-family: 'Camphor', Open Sans, Segoe UI, sans-serif;
          font-size: 0.9em;
          font-weight: 600;
          box-sizing: border-box;
          background: #747fe0;
          color: #fff;
}