nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}
a {
    font-size: 1.7rem;
    text-decoration: none;
    transition: 0.1s ease-in-out;
    padding: 0rem 1rem;
    color:#525f7f;
}

a:hover {
    opacity: 0.8;
    border-bottom: 3px solid #747fe0;
    color: #747fe0;
}